#cluster-map{
    width:100%;
    height:35vh;
}

#map{
    width:100%;
    height:30vh;
}

#cluster-map{
    position: relative !important;
}

#cluster-map:before{
    right: -999em;
    display: block;
    position: absolute;
    width: 999em;
}

